@{
    ViewBag.Title = "Forgot Password";
}
@model PS.HireRocks.Model.ForgotPasswordViewModel

@if (Model!=null && Model.IsSuccess)
{
    <hr />
    <h4 class="success">Reset password link sent to provided email address</h4>
}
else
{
    using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
    @Html.AntiForgeryToken()
    <h4>Send password reset link to your Email.</h4>
    <hr />
    @Html.ValidationSummary(true)
     <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Send reset link" class="btn btn-default" />
        </div>
    </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


