@model PS.HireRocks.Model.ContractViewModel
@{
    Layout = null;
}
<h5 class="alert-success">@ViewData[PS.HireRocks.Web.Helpers.SessionNameConstants.SuccessMessage]</h5>
@using (Ajax.BeginForm("AcceptWorkerBid", "Job", null, new AjaxOptions() { UpdateTargetId = "HireWorkerPopupBody",OnComplete="OnWorkerBidAccepted" }, new { @class = "form-horizontal", id = "HireWorkerForm", style = "text-align: -webkit-center" }))
{
    Html.ValidationSummary(true);
    <div style="max-width:600px">
        @Html.HiddenFor(m => m.WorkerId)
        @Html.HiddenFor(m => m.JobId)
        @Html.HiddenFor(m=>m.JobTypeId)
        @Html.HiddenFor(m=>m.UserName)
        @if (Model.JobTypeId == (long)PS.HireRocks.Data.Helpers.JobTypeEnum.Hourly)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.HourlyRate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.Kendo().NumericTextBoxFor(m => m.HourlyRate).Min(Model.FixedRate).Format("$#.00 +").HtmlAttributes(new { style = "width:100%" })
                    @Html.ValidationMessageFor(m => m.HourlyRate)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.WeeklyHourLimit, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.Kendo().NumericTextBoxFor(m => m.WeeklyHourLimit).HtmlAttributes(new { style = "width:100%" })
                    @Html.ValidationMessageFor(m => m.WeeklyHourLimit)
                </div>
            </div>
        }
        @if (Model.JobTypeId == (long)PS.HireRocks.Data.Helpers.JobTypeEnum.Fixed)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.FixedRate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.Kendo().NumericTextBoxFor(m => m.FixedRate).Min(Model.FixedRate).Format("$#.00 +").HtmlAttributes(new { style = "width:100%" })
                    @Html.ValidationMessageFor(m => m.FixedRate)
                </div>
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(m => m.EstimatedDuration, new { @class = "col-md-4 control-label" })
            <div class="col-md-5">
                @Html.Kendo().NumericTextBoxFor(m => m.EstimatedDuration).HtmlAttributes(new { style = "width:100%" })
                @Html.ValidationMessageFor(m => m.EstimatedDuration)
            </div>
            <div class="col-md-3">
                @Html.Kendo().DropDownListFor(m => m.TimeUnitId).BindTo(Model.TimeUnitsList).HtmlAttributes(new { style = "width:100%" })
                @Html.ValidationMessageFor(m => m.TimeUnitId)
            </div>
        </div>

        <div class="form-group">
            @Html.Label(" ", new { @class = "col-md-4 control-label" })
            <div class="col-md-8" style="text-align:left">
                @if (!Model.IsSubmitedSuccessfully) 
                { 
                    <input type="submit" id="submitButton" class="btn btn-primary" style="max-width: 49%; width: 49%; " />
                }
                <button type="button" class="btn btn-default" id="closeHireJobPopup" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
}
              